    <%-include("inc/header.ejs")%>
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/widgets/modules-widgets.css">  
    <link href="/admin/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />  
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/elements/alert.css">
    <link href="/admin/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/admin/plugins/noUiSlider/nouislider.min.css" rel="stylesheet" type="text/css">
    <link href="/admin/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/admin/plugins/noUiSlider/custom-nouiSlider.css" rel="stylesheet" type="text/css">
    <link href="/admin/plugins/bootstrap-range-Slider/bootstrap-slider.css" rel="stylesheet" type="text/css">

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-top-spacing">

                    <div id="basic" class="col-lg-12 layout-spacing">
                        <% if (durum == true) { %>
                            <div class="alert alert-light-success border-0 mb-4" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg> ... </svg></button>
                                <strong>Başarılı!</strong> Hakkımda verileriniz başarıyla güncellendi.</button>
                            </div> 
                        <% }else if(durum == false){ %>
                            <div class="alert alert-light-danger border-0 mb-4" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg> ... </svg></button>
                                <strong>Başarısız!</strong> Hakkımda verileriniz güncellenemedi. Bir sıkıntı çıktı...</button>
                            </div>
                        <% } %>
                        
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Yetenek Bilgileri Düzenle</h4>
                                    </div>                 
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">

                                <div class="row">
                                    <div class="col-lg-12 col-12 mx-auto">
                                        <form method="POST" action="/admin/yetenekler/duzenle/<%=id%>">

                                            <div class="form-row mb-4">
                                                <div class="col">
                                                    <p>İsim</p>
                                                    <input type="text" name="name" class="form-control" required value="<%=yetenekler.skills[id]%>" placeholder="Yeteneğin ismini giriniz...">
                                                </div>
                                                
                                            </div>
                                            <div class="form-row mb-4">
                                                <div class="col">
                                                    <p>Seviyen</p>
                                                    <div class="custom-progress top-right progress-up" style="width: 100%">
                                                        <div class="range-count"><span class="range-count-number" data-rangecountnumber="0"><%=yetenekler.levels[id]%></span> <span class="range-count-unit">%</span></div>
                                                        <input type="range" min="0" max="100" name="level" class="custom-range progress-range-counter" value="<%=yetenekler.levels[id]%>">
                                                    </div>
                                                </div>
                                            </div>
                                            

                                            <input type="submit" name="txt" value="Kaydet" class="mt-4 btn btn-primary">
                                        </form>
                                    </div>                                        
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        
        </div>
        <!--  END CONTENT AREA  -->


    </div>
    <!-- END MAIN CONTAINER -->
    <script src="/admin/assets/js/widgets/modules-widgets.js"></script>
    <script src="/admin/assets/js/scrollspyNav.js"></script>
    <script src="/admin/plugins/flatpickr/flatpickr.js"></script>
    <script src="/admin/plugins/noUiSlider/nouislider.min.js"></script>

    <script src="/admin/plugins/flatpickr/custom-flatpickr.js"></script>
    <script src="/admin/plugins/noUiSlider/custom-nouiSlider.js"></script>
    <script src="/admin/plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js"></script>

    <%-include("inc/footer.ejs")%>